ExtensionDevelopmentTools-23.1.4/node_modules
ExtensionDevelopmentTools-23.1.4/LocalDistribution
ExtensionDevelopmentTools-23.1.4/DeployDistribution
ExtensionDevelopmentTools-23.1.4/Workspace/Extras
ExtensionDevelopmentTools-23.1.4/tmp
ThemeDevelopmentTools-23.1.4/node_modules
ThemeDevelopmentTools-23.1.4/LocalDistribution
ThemeDevelopmentTools-23.1.4/DeployDistribution
ThemeDevelopmentTools-23.1.4/tmp
ThemeDevelopmentTools-23.1.4/Workspace/Extras
/node_modules/
/**/node_modules/
/**/node_modules/*
/**/LocalDistribution
/**/DeployDistribution
/**/tmp
/**/Workspace/Extras
/_tools/*
/**/.DS_Store
.DS_Store
Local
.idea
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.bak
*.tar.gz
*.zip
*.tar
*.gz
*.swp
LocalDistribution
DeployDistribution
.nsdeploy
payload.json
package-lock.json
.git